.power-content-wrapper {
  border-top: 1px solid var(--container-color);
  padding-top: 10px;
  margin-top: 10px;
}

.icon.power {
  -webkit-mask-image: url("../assets/power-icon.svg");
  background-color: var(--main-accent-color);
  position: relative;
  transform: translateY(-1px);
}

#voltage-toggle {
  margin-left: 10px;
}

#voltage-toggle .button-icon {
  -webkit-mask-image: url('../assets/power-button.svg');
  background-color: var(--accent-color-4);
  animation: iconOn 200ms ease-in-out forwards;
  transition: all 200ms cubic-bezier(.25, .1, .25, 1);
}

#voltage-toggle .button-icon.toggle {
  animation: iconOff 200ms ease-in-out forwards;
  background-color: var(--accent-color-2);
}

@keyframes iconOff {
  0% {
    -webkit-mask-size: var(--button-size);
  }
  50% {
    -webkit-mask-size: 0%;
  }
  100% {
    -webkit-mask-size: var(--button-size);
  }
}

@keyframes iconOn {
  100% {
    -webkit-mask-size: var(--button-size);
  }
  50% {
    -webkit-mask-size: 0%;
  }
  0% {
    -webkit-mask-size: var(--button-size);
  }
}

#polarity-toggle .button-icon {
  -webkit-mask-size: 70%;
  -webkit-mask-image: url('../assets/polarity-button.svg');
  background-color: var(--container-color-light);
  transition: all 200ms cubic-bezier(.25, .1, .25, 1);
  transform: rotate(0deg);
  background-color: var(--accent-color-4);
}

#polarity-toggle .button-icon.toggle {
  transform: rotate(180deg);
  background-color: var(--accent-color-2);
}

.voltage-reading {
  display: inline-block;
  width: 40%;
  margin: 0;
  position: relative;
}

.voltage-reading>* {
  display: inline-block;
}

.voltage-display-text-wrapper {
  width: 90%;
}

.voltage-reading .voltage-display-text {
  float: right;
}