.right-slide-pane {
  --right-slide-pane-width: 400px;
  width: var(--right-slide-pane-width);
  height: calc(100vh - var(--header-height));
  position: absolute;
  top: 0;
  left: 100vw;
  transform: translateX(0);
  background-color: var(--body-color);
  transition: all 200ms cubic-bezier(.25, .1, .25, 1);
}

.right-slide-pane.expand {
  transform: translateX(calc(-1 * var(--right-slide-pane-width)));
}

.right-slide-toggle-wrapper {
  border-right: 1px solid var(--body-color);
  position: absolute;
  height: 100%;
  background-color: var(--body-color-transparent);
  right: 100%;
  transition: all 200ms cubic-bezier(.25, .1, .25, 1);
}

.right-slide-toggle {
  top: 0;
  right: 0;
  width: 4em;
  height: 4em;
  background-color: var(--container-color);
  transition: all 200ms cubic-bezier(.25, .1, .25, 1);
}

.right-slide-pane:hover:not(.no-grow) .right-slide-toggle, .right-slide-pane.expand .right-slide-toggle {
  width: 7.5em;
  height: 7.5em;
  background-color: var(--container-color);
}

.right-slide-pane.bump:not(.expand) {
  animation: bumpLeft 300ms ease-in-out forwards;
}

/* transition: all 200ms cubic-bezier(.25, .1, .25, 1); */

@keyframes bumpLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.right-slide-pane:hover:not(.no-grow) .right-slide-toggle-wrapper, .right-slide-pane.expand .right-slide-toggle-wrapper {
  background-color: var(--body-color);
}

.right-slide-toggle .table-wrapper {
  height: 40%;
  padding: 30%;
}

.right-slide-toggle table {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  transition: transform 200ms cubic-bezier(.25, .1, .25, 1);
}

.right-slide-toggle:hover table {
  transform: scale(1.2, 1.2);
}

.right-slide-toggle td {
  background-color: #fff;
}

.right-hover-content {
  position: absolute;
  margin-top: 20px;
  width: 100%;
  margin-left: 10px;
  opacity: 0;
  transition: all 200ms cubic-bezier(.25, .1, .25, 1);
}

.right-slide-pane:hover:not(.no-grow) .right-hover-content, .right-slide-pane.expand .right-hover-content {
  opacity: 1;
}

.right-hover-content-wrapper {
  width: 100%;
  height: 100%;
}

.right-slide-content-wrapper {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.right-slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: var(--container-color);
}