.trial-pane-header-wrapper {
  background-color: var(--body-color);
  flex-flow: row;
  display: flex;
  --trial-pane-header-height: 72px;
  height: var(--trial-pane-header-height);
}

.trial-pane-header-wrapper>* {
  display: inline-block;
}

.trial-pane-header-wrapper>p {
  margin: 20px;
  float: left;
}

.export-trials-content-wrapper {
  flex-grow: 1;
  position: relative;
  direction: rtl;
  position: relative;
}

.export-trials-content-wrapper>* {
  display: inline-block;
}

.export-trials-content-wrapper .text-wrapper {
  position: absolute;
  padding-left: 20px;
  height: 100%;
}

.export-trials-content-wrapper .text-wrapper>p {
  transform: translateX(10px);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  line-height: var(--trial-pane-header-height);
  text-align: center;
}

.export-button-wrapper {
  height: var(--trial-pane-header-height);
  width: var(--trial-pane-header-height);
  margin-right: 10px;
}

.export-button-wrapper>.export-button {
  cursor: pointer;
  margin: calc(var(--trial-pane-header-height) * 0.25);
  height: calc(var(--trial-pane-header-height) * 0.5);
  border-radius: 8px;
  transition: all 200ms cubic-bezier(.25, .1, .25, 1);
}

.export-button-wrapper>.export-button>.export-icon {
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-mask-image: url('../assets/download-button.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 60%;
  -webkit-mask-position: center;
  transform: translateY(-3px);
  transition: all 200ms cubic-bezier(.25, .1, .25, 1);
}

.export-button-wrapper>.export-button:hover>.export-icon {
  background-color: var(--main-accent-color);
  transform: translateY(0px);
}

.right-slide-content .trial-entry {
  cursor: default;
  position: relative;
  padding: 0;
  padding-left: 30px;
  height: var(--trial-entry-height);
  background-color: var(--body-color);
  transition: all 500ms cubic-bezier(.25, .1, .25, 1);
}

.trial-entry.defaultConstructor {
  display: none;
}

.right-slide-content .trial-entry:hover:last-child {
  border-bottom: 1px solid var(--body-color);
}

.right-slide-content .trial-entry:hover {
  background-color: var(--container-color);
}

.trial-entry.slide-remove {
  animation: remove-trial 400ms ease-in-out forwards;
}

@keyframes remove-trial {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
    height: var(--trial-entry-height);
  }
  100% {
    transform: translateX(100%);
    height: 0;
  }
}

.trial-entry .eField:after {
  content: " V";
}

.trial-entry .time:after {
  content: " s";
}

.trial-entry .distance:after {
  content: " cm";
}

.trial-entries {
  margin-right: 1px;
  width: calc(100%-1px);
  /* height: calc(var(--trial-entry-height) * 6); */
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--container-color);
}

.trial-footer-wrapper {
  display: none;
  background-color: var(--container-color);
  flex-grow: 1;
}

.trial-footer p.trial-export {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-weight: 300;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.trial-header-menu {
  --trial-header-menu-height: 48px;
  background-color: var(--container-color);
  height: var(--trial-header-menu-height);
  padding: 0 0 0 30px;
  border-bottom: 1px solid var(--body-color);
}

.trial-header-menu p {
  line-height: var(--trial-header-menu-height);
  display: inline-block;
}

.trial-header-menu p, .trial-entry p {
  font-size: 12px;
  color: #fff;
  margin: 0 auto;
  width: calc((100% - 30px) / 5);
  text-align: center;
}

.trial-entry p.number {
  font-weight: 800;
  color: var(--main-accent-color);
}

.trial-entry * {
  display: inline-block;
  line-height: var(--trial-entry-height);
}

.trial-entry div.remove-trial-wrapper {
  position: absolute;
  height: var(--trial-entry-height);
  width: var(--trial-entry-height);
}

div.remove-trial {
  margin: calc(var(--trial-entry-height) *1/6) 0;
  width: 100%;
  height: calc(var(--trial-entry-height) *2/3);
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}

div.remove-trial div.remove-trial-button-wrapper {
  position: absolute;
  height: 100%;
  width: calc(var(--trial-entry-height) / 2);
  margin: 0 auto;
  left: 0;
  right: 0;
}

div.remove-trial p.hover-show {
  position: relative;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  line-height: 12px;
  transform: translateY(200%);
  transition: all 200ms cubic-bezier(.25, .1, .25, 1);
}

div.remove-trial:hover p.hover-show {
  transform: translateY(-20%);
}

div.remove-trial div.remove-trial-button-wrapper div.remove-trial-button {
  background-color: #ffffff00;
  -webkit-mask-image: url('../assets/x-button.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 40%;
  -webkit-mask-position: center;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  transition: all 200ms cubic-bezier(.25, .1, .25, 1);
}

.trial-entry:hover div.remove-trial-button-wrapper div.remove-trial-button {
  background-color: #fff;
}

div.remove-trial:hover div.remove-trial-button-wrapper div.remove-trial-button {
  transform: scale(.8, .8) translateY(-30%);
  background-color: var(--accent-color-4);
}