body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--body-color);
  /* margin: 1px 0 3px 0; */
}

::-webkit-scrollbar:hover {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff0f;
  border-radius: 2px;
  transition: all 200ms cubic-bezier(.25, .1, .25, 1);
}

.main-body-wrapper {
  position: absolute;
  display: flex;
  flex-flow: row;
  top: 28px;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  padding: 22px;
  background-image: linear-gradient(to top right, var(--body-gradient-start), var(--body-gradient-end));
  /* background-color: var(--main-body-color); */
}