body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

.main-body-wrapper {
  position: absolute;
  display: block;
  top: 28px;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  padding: 22px;
  background-color: var(--main-body-color);
}

.left-pane {
  height: 100%;
  width: 100%;
}

.main-sim-window {
  width: 100%;
  height: calc(100% - 50px - 22px);
  background-color: #fff;
  margin-bottom: 22px;
}
