body {
  height: 100%;
  width: 100%;
  margin: 0px !important;
}

p {
  cursor: default;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--text-color);
  -webkit-user-select: none;
}

p.selectable {
  -webkit-user-select: text;
}

p.heading {
  font-size: 32px;
  line-height: 32px;
  color: #fff;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
  /* transform: translateY(-5px); */
  /* font-variant: small-caps; */
  text-transform: uppercase;
  /* transform: translateY(-8px); */
}

.list-element p {
  font-size: 12px;
  font-family: "Roboto";
  color: #fff;
  padding: 0;
}

.list-element p.list-title {
  font-weight: 600;
  margin: 0 0 5px 0;
}

.list-element p.list-body {
  font-weight: 200;
  display: inline;
  white-space: nowrap;
}

.list-element {
  white-space: nowrap;
  margin: 0 0 20px 0;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.icon {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  height: 32px;
  width: 32px;
}