.header-bar {
  z-index: 5000;
  -webkit-app-region: drag;
  overflow: hidden;
  height: var(--header-height);
  width: 100%;
  background-color: var(--header-color);
}

.hidden {
  display: none;
}

.header-icon {
  float:left;
  max-width: calc(var(--header-height) * 0.7);
  max-height: calc(var(--header-height) * 0.7);
  margin: calc(var(--header-height) * 0.15);
  margin-right: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-clip: content-box;
  /* background-color: #fff; */
  background-image: url("../assets/1.ico");
  background-repeat:no-repeat;
}

.title-wrapper {
  margin: 0px;
  float: left;
  margin-left: 10px;
}

.title-wrapper p {
  margin: 0;
  font-weight: 500;
  line-height: var(--header-height);
}

.header-buttons {
  height: 100%;
  display: inline-block;
  float: right;
  -webkit-app-region: no-drag;
}

.header-button {
  float: right;
  height: inherit;
  background-color: var(--header-color);
  transition: background-color 200ms cubic-bezier(.25, .1, .25, 1);
  width: var(--header-height);
  cursor: pointer;
  display: flex;
}

.header-button svg {
  display: block;
  margin: auto;
  overflow: visible;
  color: #fff;
}

.exit.header-button:hover {
  background-color: var(--header-exit-color);
}

.header-button:hover {
  background-color: var(--main-accent-color);
}
