body {
  height: 100%;
  width: 100%;
  margin: 0px !important;
}

p {
  cursor: default;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--main-p-color);
}

.header-bar {
  z-index: 5000;
  -webkit-app-region: drag;
  overflow: hidden;
  height: 28px;
  width: 100%;
  background-color: var(--header-color);
}

.title-wrapper {
  margin: 0px;
  margin-left: 10px;
  float: left;
}

.title-wrapper p {
  margin: 0;
  font-weight: 500;
  line-height: 28px;
}

.header-buttons {
  height: 100%;
  display: inline-block;
  float: right;
  -webkit-app-region: no-drag;
}

.header-button {
  float: right;
  height: inherit;
  background-color: var(--header-color);
  transition: background-color 200ms cubic-bezier(.25, .1, .25, 1);
  width: 28px;
  cursor: pointer;
  display: flex;
}

.header-button svg {
  display: block;
  margin: auto;
  overflow: visible;
  color: #fff;
}

.exit.header-button:hover {
  background-color: var(--header-exit-color);
}

.header-button:hover {
  background-color: var(--main-accent-color);
}