.plate-dist {
  height: 50px;
  text-align: center;
}

.plate-input-selector-wrapper {
  height: 100%;
}

.plate-input-selector-wrapper>* {
  display: inline-block;
  background-color: #ffffff00;
  height: 100%;
  vertical-align: middle;
  /* transition: background-color 200ms cubic-bezier(.25, .1, .25, 1); */
}

.plate-input-selector-wrapper>div:hover {
  background-color: #ffffff3f;
}

.plate-input-wrapper {
  height: 24px;
  display: inline-block;
  line-height: 24px;
  font-family: 'Roboto';
  font-size: 24px;
  outline: none;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  user-select: none;
}

.plate-input-wrapper.editing {
  border-bottom: 2px solid #fff;
}

.plate-input-selector-wrapper>.arrow {
  width: 15%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transition: background-size 200ms cubic-bezier(.25, .1, .25, 1);
}

.plate-input-selector-wrapper>.arrow:hover {
  background-size: 60%;
}

.plate-input-selector-wrapper>.arrow.left {
  margin-right: 10px;
  background-image: url("../assets/Arrow-Left.png");
}

.plate-input-selector-wrapper>.arrow.right {
  margin-left: 10px;
  background-image: url("../assets/Arrow-Right.png");
}
